<section class="pv3 benefits">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-4 mv2 mv3-ns">
        <article class="center bg-white pa3 pa4-ns ba b--black-10 h-100">
          <h1 class="f4 mt0">Team Building</h1>
          <hr class="mw3 ml0 ba bw1 b--orange">
          <p class="lh-copy measure center f6 black-70">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus vitae rem similique iusto repudiandae fuga culpa provident cum animi tempore sunt ea sit, facilis ut illum natus, pariatur alias quae!
          </p>
        </article>
      </div>

      <div class="col-xs-12 col-sm-4 mv2 mv3-ns">
        <article class="center bg-white pa3 pa4-ns ba b--black-10 h-100">
          <h1 class="f4 mt0">Groups of any size</h1>
          <hr class="mw3 ml0 ba bw1 b--orange">
          <p class="lh-copy measure center f6 black-70">
            The typical escape room has a limited capacity which can only fit a few people at a time. We have a flexible experience for groups of all sizes.
          </p>
        </article>
      </div>

      <div class="col-xs-12 col-sm-4 mv2 mv3-ns">
        <article class="center bg-white pa3 pa4-ns ba b--black-10 h-100">
          <h1 class="f4 mt0">Corporate groups</h1>
          <hr class="mw3 ml0 ba bw1 b--orange">
          <p class="lh-copy measure center f6 black-70">
            Most escape rooms are designed for friend groups not corporate groups. Our rooms are designed to challenge corporate groups who are more accustomed to working together.
          </p>
        </article>
      </div>
<!--
      <div class="col-xs-12 col-sm-4 mv2 mv3-ns">
        <article class="center bg-white pa3 pa4-ns ba b--black-10 h-100">
          <h1 class="f4 mt0">We come to you</h1>
          <hr class="mw3 ml0 ba bw1 b--orange">
          <p class="lh-copy measure center f6 black-70">
            There's no need to arrange transportation for your group and find a day/time that works for everyone. We'll come directly to your event and
          </p>
        </article>
      </div>

      <div class="col-xs-12 col-sm-4 mv2 mv3-ns">
        <article class="center bg-white pa3 pa4-ns ba b--black-10 h-100">
          <h1 class="f4 mt0">Challenging but achievable</h1>
          <hr class="mw3 ml0 ba bw1 b--orange">
          <p class="lh-copy measure center f6 black-70">
            We firmly believe that rooms should be challenging, but achievable. It is important for each room design to challenge groups and make them think outside the box while balancing the ability to escape in the hour.
          </p>
        </article>
      </div>
-->
    </div>
  </div>
</section>
