<section class="pt4 pb5 benefits">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-4 mv2 mv3-ns">
        <article class="center bg-white pa3 pa4-ns ba b--black-10 h-100">
          <h3 class="f4 mt0">Effective Team Building</h3>
          <hr class="mw3 ml0 ba bw1 b--secondary">
          <p class="lh-copy f6 black-70">
            Teams will be challenged with out-of-the-ordinary tasks that encourage collaboration, creativity, and problem solving. The experience will help identify and overcome barriers to being an effective and productive team.
          </p>
        </article>
      </div>

      <div class="col-xs-12 col-sm-4 mv2 mv3-ns">
        <article class="center bg-white pa3 pa4-ns ba b--black-10 h-100">
          <h3 class="f4 mt0">Flexible Group Sizes</h3>
          <hr class="mw3 ml0 ba bw1 b--secondary">
          <p class="lh-copy f6 black-70">
            Escape On Demand is the only establishment that can handle groups in excess of 40 people and we offer the added benefit of coming directly to you. We can even comfortably accommodate groups larger than 150!
          </p>
        </article>
      </div>

      <div class="col-xs-12 col-sm-4 mv2 mv3-ns">
        <article class="center bg-white pa3 pa4-ns ba b--black-10 h-100">
          <h3 class="f4 mt0">Themed Escape Rooms</h3>
          <hr class="mw3 ml0 ba bw1 b--secondary">
          <p class="lh-copy f6 black-70">
            Escape On Demand is the only event hosting company offering real escape rooms. Each room is designed to be interactive, entertaining, and fully immersive.
          </p>
        </article>
      </div>
    </div>
  </div>
</section>
