<header class="bg-white">
  <div class="container-fluid">
    <nav class="dt w-100">
      <div class="dtc v-mid pv2 pr2">
        <a href="{{ site.baseurl }}/" class="dib w4" title="Back to Homepage">
          {% include logo.html %}
        </a>
      </div>
      <div class="dtc v-mid tr pv2 pl2">
        <a class="f6 fw4 hover-black no-underline black-70 dib pv2 ph3 {% if page.slug == 'rooms' %}black{% endif %}" href="{{ site.base_url }}/rooms/">Rooms</a>
        <a class="f6 fw4 hover-black no-underline black-70 dib pv2 ph3 {% if page.slug == 'team-building' %}black{% endif %}" href="{{ site.base_url }}/faq/">FAQ</a>
        <a class="f6 fw4 hover-black no-underline black-70 dib pv2 ph3 {% if page.slug == 'contact' %}black{% endif %}" href="{{ site.base_url }}/contact/">Contact Us</a>
      </div>
    </nav>
  </div>
</header>
