<div class="container-fluid pv4">
  <h2 class="f1 lh-title tc mt0">Our Escape Rooms</h2>

  <ul class="list pl0 row">
    {% for room in site.rooms reversed %}
      <li class="col-xs-12 col-sm-6 mb3">
        <!-- {{ room.attribution }} -->
        <div class="h-100 overflow-hidden room cover bg-near-black {% cycle 'room--odd', 'room--even' %}" style="background-image: url({{ site.base_url }}/assets/img/rooms/{{ room.image }})">
          <div class="h-100 pv5 ph5 bg-black-40">
            <h2 class="mt0 f5 lh-copy white">{{ room.teaser }}</h2>
            <h3 class="f2 lh-solid mt3 mb4 white">{{ room.title }}</h3>
            <p class="white mv0"><a class="dib link lh-copy ba b--white pv2 ph3 white bg-animate hover-near-black hover-bg-white" href="{{ room.url }}">View room info</a></p>
          </div>
        </div>
      </li>
    {% endfor %}
  </ul>
</div>
