---
layout: default
---

<section class="overflow-hidden room cover {% cycle 'room--odd', 'room--even' %}" style="background-image: url({{ site.base_url }}/assets/img/{{ page.image }})">
  <div class="container-fluid pv6 bg-black-40 vh-75">
    <div class="w-50-l">
      <h2 class="f3 lh-copy white">{{ page.teaser }}</h2>
      <h3 class="f-subheadline lh-solid mv4 white">{{ page.title }}</h3>
    </div>
  </div>
</section>

<section class="pv5">
  <div class="container-fluid">
    {{ content }}
  </div>
</section>
