---
layout: default
---

<section class="overflow-hidden room cover {% cycle 'room--odd', 'room--even' %}" style="background-image: url({{ site.base_url }}/assets/img/rooms/{{ page.image }})">
  <div class="container-fluid pv6 bg-black-40 vh-75">
    <div class="w-50-l">
      <h2 class="f3 lh-copy white">{{ page.teaser }}</h2>
      <h3 class="f-subheadline lh-solid mv4 white">{{ page.title }}</h3>
    </div>
  </div>
</section>

<section class="pv5">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-8">
        <div class="pr5 lh-copy">
          <h3>Storyline</h3>
          <div>{{ content }}</div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4">
        <div class="lh-copy">
          <h3>Other Escape Rooms</h3>
          <ul class="list pl0">
            {% for room in site.rooms reversed %}
              {% if page.url != room.url %}
              <li class="mb2">
                <a class="dib link lh-copy near-black hover-secondary" href="{{ room.url }}">{{ room.title }}</a>
              </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

{% include cta.html %}
