@media only screen and (min-width: 60em) {
  .benefits {
    margin-top: -8rem;
  }
}

.article a {
  color: var(--blue);
  text-decoration: none;

  &,
  &:active,
  &:focus,
  &:hover,
  &:link,
  &:visited {
    transition: color .15s ease-in;
  }

  &:focus,
  &:hover {
    color: #00449e;
  }
}

.heading-underline {
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;

  &::after {
    border: solid 2px var(--blue);
    content: " ";
    display: block;
    margin: 25px auto;
    width: 35px;
  }
}
